*.pyc
*.sqlite3
*.swp
*.tif
*.tiff
gamera
errors.log
data/*
duchemin_env/*
fixtures/*
.DS_Store
/duchemin/fixtures
solr/target
/duchemin/settings_production.py

duchemin/static/xml/DC1417E.xml

ca/*.pem
ca/*.key

.env