{% extends "base.html" %}

{% load staticfiles %}

{% block header %}
  {% if is_logged_in %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/comments.js"></script>
    <script type="text/javascript">
      $(document).ready(function (){
        startCommentFeed();
      });
    </script>
  {% endif %}
{% endblock %}

{% block wrap %}

  <div class="row-fluid">
    <div class="span8">
      <div class="span10"><image src="{% static 'image/duchemins.png' %}" alt="music" hspace="16" vspace="16"></div>
      <!-- RF 6/14:  This is the Most Recent Discussion block.  Will need logic to display ONLY the most recent post.  And LINK to Piece for work under discussion -->
      <div class="span10">
        <h1>Current Discussion</h1>
        <h3><a href="/piece/{{ piece.piece_id }}">{{ piece.title }}</a></h3>
        <!-- <div id="discussion-block"></div><br> -->
        <h4 id="pieceID">DC1208</h4>
        <h4 id="submitter1">Freedman (dd/mm/yyyy)</h4>
        <p id="contribution1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur convallis vehicula tellus non scelerisque.</p>
      </div>
      <div class="span10">
        <!-- RF 6/14:  This is block for ALL discussions, listed by descending order by date -->
        <h2>Other Recent Discussions</h2>
        <h6 id="pieceID">DC0101</h6>
        <h6 id="submitter1">Freedman (dd/mm/yyyy)</h6>
        <p id="contribution1">Lorem ipsum dolor sit amet,</p>
        <h6 id="pieceID">DC0403</h6>
        <h6 id="submitter1">Mengozzi (dd/mm/yyyy)</h6>
        <p id="contribution1">Lorem ipsum dolor sit amet,</p>
        <h6 id="pieceID">DC1007</h6>
        <h6 id="submitter1">Besson (dd/mm/yyyy)</h6>
        <p id="contribution1">Lorem ipsum dolor sit amet,</p>
      </div>
    </div>
    
    <div class="span4">
      <div class="span10">
        <h2>Project News</h2>
        <!-- MW 6/17: News blocks can be added from the Django admin interface. -->
        {% for block in news_blocks %}
          {% include "main/blocks/news.html" with block=block %}
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}


