{% extends "base.html" %}
{% load notetext %}
{% load isfavourite %}

{% block header %}
{% endblock %}

{% block wrap %}
  <div class="row-fluid">
    <div class="span9"><!-- Everything on the left -->
      <div class="row-fluid">
        <hgroup class="account-title page-title span8">
          <h1>Account Profile</h1>
          <h2>{{ user.profile }}</h2>
        </hgroup>
        <form class="mywork-search pull-right" method="get" action="/search">
          <input type="text" name="q" placeholder="Search My Work" />
        </form>
      </div>
      <div class="row-fluid">
        <div class="span12 favorites-container content-container">
          <div class="tabbable tabs-left">
            <ul class="nav nav-tabs">
              <li><a href="#tab1" data-toggle="tab">My Work</a></li>
              <li class="active"><a href="#tab2" data-toggle="tab">Favourites</a></li>
              <li><a href="#tab3" data-toggle="tab">Discussions</a></li>
            </ul>

            <div class="tab-content">
              <!-- Everything in tabs is here. -->
              <div class="tab-pane" id="tab1">
                <!-- My Work: Observations and Reconstructions -->
                <div class="accordion-group">
                  <!-- My Observations -->
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" href="#mypieces-section">
                      <h2>Observations<i class="icon-plus"></i></h2>
                    </a>
                  </div>
                  <div id="mypieces-section" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <table class="table table-striped table-bordered table-hover">
                        <thead>
                          <tr>
                            <th>Piece&nbsp;ID</th>
                            <th>Title</th>
                            <th>Measures</th>
                            <th>Show details</th>
                          </tr>
                        </thead>

                        <tbody>
                          {% for analysis in my_analyses %}
                            <tr>
                              <td>
                                <a href="/piece/{{ analysis.composition_number.piece_id }}">{{ analysis.composition_number.piece_id }}</a>
                              </td>
                              <td>
                                {{ analysis.composition_number.title }}
                              </td>
                              <td>
                                <a href="#" class="view-phrase" anid="{{ analysis.id }}" data-pieceid="{{ piece.piece_id }}" data-start="{{ analysis.start_measure }}" data-stop="{{ analysis.stop_measure }}">{{ analysis.start_measure }}&ndash;{{ analysis.stop_measure }}</a>
                              </td>
                              <td> 
                                <a href="#" class="analyses-info-expand" target="analyses-info-{{ forloop.counter }}">Expand</a>
                              </td>
                            </tr>
                            <tr id="analyses-info-{{ forloop.counter }}" class="analyses-info">
                              <td colspan="5">
                                {% include "analysis/analysis_extended_display_info.html" %}
                              </td>
                            </tr>
                          {% empty %}
                            <td colspan="4">No observations made.</td>
                          {% endfor %}
                        </tbody>
                      </table> 
                    </div>
                  </div>
                </div>
                
                <div class="spacerTop">
                </div>
                
                <div class="accordion-group">
                  <!-- My Reconstructions -->
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" href="#myreconstructions-section">
                      <h2>Reconstructions<i class="icon-plus"></i></h2>
                    </a>
                  </div>
                  <div id="myreconstructions-section" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <table id="reconstructions" class="table table-striped table-bordered table-hover">
                        <thead>
                          <tr>
                            <th>Piece&nbsp;ID</th>
                            <th>Title</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for recon in my_reconstructions %}
                            <tr>
                                <td><a href="/piece/{{ recon.piece.piece_id }}">{{ recon.piece.piece_id }}</a></td>
                                <td>{{ recon.piece.title }}</td>
                            </tr>
                          {% empty %}
                            <td colspan="2">No reconstructions made.</td>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane active" id="tab2">
                <!-- My Favourites: Pieces and Reconstructions -->
                <div class="accordion-group">
                  <!-- Favourite Pieces -->
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" href="#favpieces-section">
                      <h2>Favourites<i class="icon-minus"></i></h2>
                    </a>
                  </div>
                  <div id="favpieces-section" class="accordion-body in collapse">
                    <div class="accordion-inner">
                      <table class="table table-striped table-bordered table-hover">
                        <thead>
                          <tr>
                            <th>Piece&nbsp;ID</th>
                            <th>Title</th>
                            <th>Notes</th>
                            <th>Favourites</th>
                          </tr>
                        </thead>
                        <tbody>
                          <form id="modal-form">
                          	{% csrf_token %}
                          </form>
                          {% for piece in favourited_pieces %}
                            <tr>
                              <td><a href="/piece/{{ piece.piece_id }}">{{ piece.piece_id }}</a></td>
                              <td>{{ piece.title }}</td>
                              <td style="text-align:center;">
                                {% if user|notetext:piece %}
                                  <a href="#" id="button-fav-{{ piece.piece_id }}" class="btn btn-info open-EditNote" data-toggle="modal" data-notetext="{{ user|notetext:piece }}" data-pieceid="{{ piece.piece_id }}" title="Edit Note to {{ piece.piece_id }}">Edit&nbsp;Note</a>
                                {% else %}
                                  <a href="#" id="button-fav-{{ piece.piece_id }}" class="btn btn-primary open-EditNote" data-toggle="modal" data-pieceid="{{ piece.piece_id }}" title="Add Note to {{ piece.piece_id }}">Add&nbsp;Note</a>
                                {% endif %}
                              </td>
                              <td>
                                  {% include "main/favourites/favourites.html" with is_favourite=user|isfavourite:piece piece_id=piece.piece_id %}
                              </td>
                            </tr>
                          {% empty %}
                            <td colspan="4">No pieces in Favourites.</td>
                          {% endfor %}
                        </tbody>
                      </table> 
                    </div>
                  </div>
                </div>

                <div class="spacerTop">
                </div>

                <div class="accordion-group">
                  <!-- Pieces with Notes -->
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" href="#mynotes-section">
                      <h2>Pieces with notes<i class="icon-plus"></i></h2>
                    </a>
                  </div>
                  <div id="mynotes-section" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <table class="table table-striped table-bordered table-hover">
                        <thead>
                          <tr>
                            <th>Piece&nbsp;ID</th>
                            <th>Title</th>
                            <th>Delete</th>
                            <th>Edit</th>
                            <th>Favourites</th>
                          </tr>
                        </thead>
                        <tbody>
                          <form id="modal-form">
                            {% csrf_token %}
                          </form>
                          {% for piece in pieces_with_notes %}
                            <tr>
                              <td><a href="/piece/{{ piece.piece_id }}">{{ piece.piece_id }}</a></td>
                              <td>{{ piece.title }}</td>
                              <td style="text-align:center;">
                                <a href="#" id="button-del-{{ piece.piece_id }}" class="btn btn-danger open-DeleteNote" data-toggle="modal" data-notetext="{{ user|notetext:piece }}" data-pieceid="{{ piece.piece_id }}" title="Delete Note to {{ piece.piece_id }}">Delete&nbsp;Note</a>
                              </td>
                              <td style="text-align:center;">
                                <a href="#" id="button-note-{{ piece.piece_id }}" class="btn btn-info open-EditNote" data-toggle="modal" data-notetext="{{ user|notetext:piece }}" data-pieceid="{{ piece.piece_id }}" title="Edit Note to {{ piece.piece_id }}">Edit&nbsp;Note</a>
                              </td>
                              <td>
                                {% include "main/favourites/favourites.html" with is_favourite=user|isfavourite:piece piece_id=piece.piece_id %}
                              </td>
                            </tr>
                          {% empty %}
                            <td colspan="4">No pieces with notes.</td>
                          {% endfor %}
                        </tbody>
                      </table> 
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab3">
                <!-- My Discussions: Pieces and Reconstructions -->
                <div class="accordion-group">
                  <!-- Discussions about Pieces -->
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" href="#discusspieces-section">
                      <h2>Pieces<i class="icon-minus"></i></h2>
                    </a>
                  </div>
                  <div id="discusspieces-section" class="accordion-body in collapse">
                    <div class="accordion-inner">
                      <table class="table table-striped table-bordered table-hover">
                        <thead>
                          <tr>
                            <th>Piece&nbsp;ID</th>
                            <th>Title</th>
                            <th>Discussion</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for piece in discussed_pieces %}
                            <tr>
                              <td>
                                <a href="/piece/{{ piece.piece_id }}">{{ piece.piece_id }}</a>
                              </td>
                              <td>
                                {{ piece.title }}
                              </td>
                              <td>
                                <a href="/{{ piece.piece_id }}/discussion">View Discussion</a>
                              </td>
                            </tr>
                          {% empty %}
                            <td colspan="3">No pieces discussed.</td>
                          {% endfor %}
                        </tbody>
                      </table> 
                    </div>
                  </div>
                </div>

                <div class="spacerTop">
                </div>

                <div class="accordion-group">
                  <!-- Comments -->
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" href="#discusscomments-section">
                      <h2>Comments<i class="icon-plus"></i></h2>
                    </a>
                  </div>
                  <div id="discusscomments-section" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <table class="table table-striped table-bordered table-hover">
                        <thead>
                          <tr>
                            <th>Piece&nbsp;ID</th>
                            <th>Comment</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for comment in my_comments %}
                            <tr>
                              <td>
                                <a href="/piece/{{ analysis.composition_number.piece_id }}">{{ comment.piece.piece_id }}</a>
                              </td>
                              <td>
                                <a href="/piece/{{ comment.piece.piece_id }}/discussion/">{{ comment.text }}</a>
                              </td>
                            </tr>
                          {% empty %}
                            <td colspan="2">No comments.</td>
                          {% endfor %}
                        </tbody>
                      </table> 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div><!--/span-->
        </div><!--/row-->
      </div>
    </div>

    <div id="sidebar" class="span3">
      <div class="well span12">
        <h3>{{ user.username }}
          <!-- Edit profile functionality not yet added<br />
            <a href="#" id="editpro">Edit&nbsp;Profile</a>
          -->
          &bull; <a href="#" id="logout">Log&nbsp;Out</a>
        </h3>
        <div class="span12"><dl class="well-list account-info-list">
          <dt>Joined:</dt>
          <dd>{{ user.date_joined.date }}</dd>
          <dt>Role:</dt>
          <dd>{{ user.profile.role }}</dd>
        </dl></div>
        <h3><a href="/password_change/">Change Password</a></h3>
      </div>

      <div class="span12">
        <h3>Help</h3>
        <div id="help">
          <h4><a href="#" id="my-work" class="advanced-help-heading">My Work</a></h4>
          <div id="my-work-help-content" class="advanced-help-content">
            <p>In the Observations pane, you will find a list of any formal observations you have made in the Lost Voices database. Each row in the table of observations contains a link to the piece’s page; selecting the measure range in a row brings up a window displaying only the relevant measures. To see further details about a given observation, select the “Expand” option.</p>
            <p>In the Reconstructions pane is a list of any reconstructions you have made that are in the Lost Voices database. Selecting the Piece&nbsp;ID takes you to the piece’s page; there you can see your reconstruction, together with any other reconstructions for the same piece that may be present in the database.</p>
          </div>

          <h4><a href="#" id="favourites" class="advanced-help-heading">Favourites</a></h4>
          <div id="favourites-help-content" class="advanced-help-content">
            <p>Pieces in the Lost Voices database that you have marked with a filled star (&starf;) are added to your Favourites. In the Favourites pane, you can manage these pieces by adding, viewing and editing notes, or removing pieces from the list.</p>
            <p>Notes are a place for you to record thoughts about a piece without making them visible to other viewers. The list of pieces with notes contains easy-to-access links for viewing, deleting and editing notes, as well as for adding or removing each piece from your Favourites. Notes are archived in the site database; if you need to recover an old version of a note that was mistakenly deleted or overwritten, please <a href="mailto:{{ADMIN_EMAIL}}?subject=Recover note by user {{user.username}}">contact the administrator</a>.</p>
          </div>

            <h4><a href="#" id="discussions" class="advanced-help-heading">Discussions</a></h4>
          <div id="discussions-help-content" class="advanced-help-content">
            <p>In the Pieces pane, you will find a list of all pieces you have publicly commented on, sorted by Piece&nbsp;ID. Each row contains links to the piece’s page and to the corresponding discussion page.</p>
            <p>The Comments pane contains a list of all comments you have posted, sorted by date. As in the Pieces pane, each row contains links to the piece’s page and to the corresponding discussion page. All comments are public; if you need a comment to be removed, please <a href="mailto:{{ADMIN_EMAIL}}?subject=Recover note by user {{user.username}}">contact the administrator</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
    .advanced-help-content  {
      display: none;
    }
    #advanced-help a {
      cursor: pointer;
    }
  </style>

  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/themes/base/jquery-ui.css" rel="stylesheet"></link>

  <script type="text/javascript">
    // This script expands and hides analysis details
    $('.analyses-info').hide();
    $('.advanced-help-heading').on({
      'click': function(event) {
        event.preventDefault();
        var contentId = $(this).attr('id');
        $('#' + contentId + '-help-content').toggle(200);
        return false;
      }
    });
    $('.analyses-info-expand').on({
      'click': function(event) {
        event.preventDefault();
        tgt = "#" + $(this).attr('target');
        $(tgt).toggle();
        tag = $(this).text() == "Expand" ? "Collapse" : "Expand";
        $(this).text(tag);
        return false;
      }
    })
  </script>

  <script src="{{ STATIC_URL }}js/vendor/jquery.cookie.js"></script>
  <script src="{{ STATIC_URL }}js/notes.js"></script>
  <script src="{{ STATIC_URL }}js/notation.js"></script>
  <script src="{{ STATIC_URL }}js/favourites.js"></script>

  <script type="text/javascript">
    $(document).ready(function (){
    	attachPhraseClickEvents();
        attachFavouritesAction();
        editNoteAction();
        deleteNoteAction();
        submitNoteAction();

        // Toggling the +/- accordion icons
        $('.accordion-group').on('show hide', function(e){
          $(e.target).siblings('.accordion-heading').find('.accordion-toggle i').toggleClass('icon-minus icon-plus');
        });
    });
  </script>

  <!-- Can't import all the jquery and bootstrap, since they conflict with each other -->
  <script type="text/JavaScript" src="{{ STATIC_URL }}js/jquery/src/effects.js"></script>
  <script type="text/JavaScript" src="{{ STATIC_URL }}js/bootstrap/bootstrap-modal.js"></script>
  <script type="text/JavaScript" src="{{ STATIC_URL }}js/bootstrap/bootstrap-transition.js"></script>

  <!-- meiView dependencies and scripts -->

  <script type="text/JavaScript" src="/static/js/vexflow/build/vexflow/vexflow-min.js"></script>
  <script type="text/JavaScript" src="/static/js/deps/Fabric-all.js"></script>
  <script type="text/JavaScript" src="/static/js/deps/meitovexflow.min.js"></script>

  <script type="text/JavaScript" src="/static/js/dist/meiview.js"></script>
  <link rel="stylesheet" href="/static/css/dist/meiview.css"/>

{% endblock %}
