<table class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th>Measures</th>
    <th>Piece</th>
    <th>Phrase Number</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  {% for analysis in analyses %}
    <tr>
      <!-- The values in curly brackets are sometimes different from those in the piece template. This is intentional. Why? This file pulls data from solr_index, not from the Django models directly. -->
      <td><a href="#" class="view-phrase" data-pieceid="{{ analysis.piece_id }}" data-meilink="/mei/{{ analysis.piece_id }}.xml" data-start="{{ analysis.start_measure }}" data-stop="{{ analysis.stop_measure }}">{{ analysis.start_measure }}&ndash;{{ analysis.stop_measure }}</a></td>
      <td><a href="/piece/{{ analysis.piece_id }}">{{ analysis.title }}</a></td>
      <td>{{ analysis.phrase_number }}</td>
      <td>
        <a href="#" class="analyses-info-expand" target="analyses-info-{{ forloop.counter }}">Details</a>
      </td>
    </tr>
    <tr id="analyses-info-{{ forloop.counter }}" class="analyses-info">
      <td colspan="5">{% include "analysis/analysis_extended_info.html" %}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<script type="text/javascript">
  $('.analyses-info').hide();
  $('.analyses-info-expand').on({
    'click': function(event) {
      event.preventDefault();
      tgt = "#" + $(this).attr('target');
      $(tgt).toggle();
      tag = $(this).text() == "Details" ? "Collapse Details" : "Details";
      $(this).text(tag);
      return false;
    }
  })
</script>