{% extends "base.html" %}

{% block title %}
<title>Lost Voices &mdash; Change Password</title>
{% endblock %}

{% block wrap %}

<form action="" method="post">{% csrf_token %}
  <div class="row-fluid">
    <div class="span12">
      {% if form.errors %}
        <p class="errornote">
          {% if form.errors.items|length == 1 %}
            Please correct the error below.
          {% else %}
            Please correct the errors below.
          {% endif %}
        </p>
      {% endif %}
      <p>First enter your old password, for security’s sake. Then enter your new password twice so we can verify you typed it in correctly.</p>
    </div>
  </div>

  <div class="row-fluid">
    <div class="well span4">
      <fieldset class="module aligned wide">
        <div class="form-row">
          {{ form.old_password.errors }}
          {{ form.old_password.label_tag }}
          {{ form.old_password }}
        </div>

        <div class="form-row">
          {{ form.new_password1.errors }}
          {{ form.new_password1.label_tag }}
          {{ form.new_password1 }}
        </div>

        <div class="form-row">
          {{ form.new_password2.errors }}
          {{ form.new_password2.label_tag }}
          {{ form.new_password2 }}
        </div>
      </fieldset>

      <div class="submit-row">
        <button type="submit" class="btn btn-primary">Change Password</button>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <p>If you’ve forgotten your password, you can <a href="mailto:{{ADMIN_EMAIL}}?subject=Reset password for user {{user.username}}">contact the administrator</a> to have it reset.</p>

      <script type="text/javascript">
        document.getElementById("id_old_password").focus();
      </script>
    </div>
  </div>
</form>

<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/themes/base/jquery-ui.css" rel="stylesheet"></link>

{% endblock %}
